@{
    ViewBag.Title = "Connect4";
}
@section featured {
    <section class="featured" style="background-color:blue !important">
        <div class="content-wrapper" style="background-image: none !important; background-color: blue !important">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1><br/>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <a href="Rules.cshtml"><font color="white">Click here for the rules of the game</font></a>

            </p>
            <h3 style="color: white">Game Board</h3>
            <div style="margin-right: 0px; color: white">Click on a white piece to turn it to your color.</div>

            <div id="GameBoard" style="display: block; position: absolute; left: 650px; top: 200px; margin: 0 auto; padding-top: 64px; max-width: 640px; width: 94%;">



            </div>
            <div id="currentColor" style="width: 200px; position: absolute; left: 150px; border-radius: 10px; top: 300px; height: 50px; display: block; background-color: blue; text-align: center;">
                <p id="turn" style="top: 50%; left: 50%; color: white">Blue's turn</p>
                <p id="alert" style="top: 50%; left: 50%; color: white">Click on a white piece now!</p>
            </div>
        </div>
           
</section>
}



<script type="text/javascript">
    var board = $("#GameBoard");
    var boardattribs = { left: 650, top: 200 };
    var colors = {
        white: '/Images/WhitePiece.png',
        red: '/Images/RedPiece.png',
        blue: '/Images/BluePiece.png'
    };
    var rows = 6;//found on hasbro website
    var cols = 7;
    //start with blue player
    var currentColor = colors.blue;

    //Piece class for storing attribs of each piece object
    var Piece = function (y, x, img) {
        
        this.x = x;
        this.y = y;
        
        if (img + "" == "") {
            
            img = colors.white;
        }
        this.img = img;
        
    };
    
    //array of pieces 2 dims - one for cols and one for rows
    var pieces = new Array();
    
   

 
  
    function Board_Setup(board,init) {
        
        Board_AddTable(board,init);
    }
   
    function Board_AddTable(board,init) {
        
       
        //for each row
        for (var y = 0; y < rows; y++) {  
            
            board.append($('<tr style=background-color:white; border:0; margin:0; padding:0>'));

            pieces[y] = new Array();

            //for each col
            for (var x = 0; x < cols; x++) {  

                //white piece is empty space
                var pieceColor = colors.white;

                ////set up the piece object
                pieces[y][x] = new Piece( y,  x, pieceColor);
                
                board.append($('<td id=' + y + '' + x + ' style=background-color:white; border:0; margin:0; padding:0; cell-padding:0>')
                    .append($('<img>')
                        .attr('src', pieceColor)
                        .attr('width', '50px')
                        
                        ))
                        .append($('</td>'));
            }
            board.append($('/<tr>'));
        }

        board.append($('<tr><td colspan=7><br><div id="footer" style="background-color:lightgray">A SalesLoft production</div></td></tr>'));
       
    }
    
    Board_Setup(board, true);

    function IsValidMove(y, x) {
        
        x = parseInt(x);
        y = parseInt(y);
        
        //if someone already has that spot
        if (pieces[y][x].img != colors.white) {
            $("#alert").text('You cannot move there sorry - try again');
            return false;
        }
        else {
                //if we are on the bottom row
                if (y >= 5) {
                    $("#alert").text('valid move');
                    return true;
                }
                else {
                    
                    //if position above is NOT taken by a piece already, you cannot move there
                    try {
                        
                        var ypos = parseInt(y);
                        var xpos = parseInt(x);
                        var strcolor = pieces[ypos + 1][xpos].img + "";
                        var white = colors.white;

                        if (strcolor != white + "") {
                            
                            //$("#alert").text('valid move');
                            return true;
                        }
                    }
                    catch(Exception )
                    {
                        //alert(pieces.length + ' is length of pieces');
                        //alert('tried to get to ' + y + 1 + ' and x: ' + x);
                        
                    }

               }

        }
        return false;
    }
    function checkWin(y, x) {
        debugger;
        if (rowFound(y,x)==true) {
            return true;
        }
        //detect diagonal wins
        //do we have a bluediag or a reddiag?
        if (colFoundBlue(y,x)==true) {
            return true;
        }
        if (colFoundRed(y,x)==true) {
           return true   
        }  

        if (diagFoundBlue(y, x) == true) {
            return true;
        }
        if (diagFoundBlueNeg(y,x)==true) {
            return true;
        }
        if (diagFoundBluePos(y, x) == true) {
            return true;
        }
        //if (diagFoundNeg(y,x)==true) {
        //    return true;
        //}
        return false;
    }
    function rowFound(y,x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

        //do we have a redrow or a bluerow?
        for (var y2 = 0; y2 < rows; y2++) {

            redRow = 0;

            blueRow = 0;

            //for each col
            for (var x2 = 0; x2 < cols; x2++) {
                try {
                    if (pieces[y2][x2].img == colors.red) {

                        redRow++;
                        blueRow = 0;

                        // $("#alert").text('redRow:' + redRow );
                        if (redRow >= 4) {

                            return true;
                        }

                    } else {
                        redRow = 0;
                        if (pieces[y2][x2].img == colors.blue) {

                            blueRow++;


                            if (blueRow >= 4) {

                                return true;
                            }

                        } else {
                            blueRow = 0;

                        }
                    }
                } catch (Exception) {

                }
            }
        }
        return false;
    }
    function colFoundBlue(y,x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;
        //do we have a bluecol or a redcol?
        for (var x2 = 0; x2 < cols; x2++) {
            blueCol = 0;
            redCol = 0;


            //for each row
            for (var y2 = 0; y2 < cols; y2++) {
                try {
                    if (pieces[y2][x2].img == colors.blue) {

                        blueCol++;
                        redCol = 0;
                        // $("#alert").text('redRow:' + redRow );
                        if (blueCol >= 4) {

                            return true;
                        }

                    } else {
                        blueCol = 0;
                        if (pieces[y2][x2].img == colors.red) {

                            redCol++;

                            // $("#alert").text('redRow:' + redRow );
                            if (redCol >= 4) {

                                return true;
                            }


                        } else {
                            redCol = 0;

                        }

                    }
                } catch (Exception) {

                }
            }
        }
        return false;
    }

    function diagFoundBlue(y,x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

        for (var x2 = 0; x2 < cols; x2++) {
            var blueDiag = 0;
            var redDiag = 0;


            //for each row
            for (var y2 = 0; y2 < cols; y2++) {
                try {
                    if (pieces[y2][x2].img == colors.blue) {
                        redDiag = 0;
                        blueDiag = 0;
                        var newx = x2;
                        for (var y3 = y2; y3 >= 0 ; y3--) {
                            
                            if (newx > cols) {
                                break;
                            }
                            $("#alert").text("checking " + y3 + " " + newx);
                            if (pieces[y3][newx].img == colors.blue) {

                                blueDiag++;
                                //$("#alert").text("blueDiag" + blueDiag);

                                if (blueDiag >= 4) {

                                    return true;
                                }
                            } else {
                                blueDiag = 0;
                                break;
                            }
                            newx++;
                        }

                    }

                } catch (Exception) {
                    
                }
            }
        }

        return false;

    }

    function diagFoundBluePos(y, x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

        for (var x2 = 0; x2 < cols; x2++) {
            var blueDiag = 0;
            var redDiag = 0;


            //for each row
            for (var y2 = 0; y2 < cols; y2++) {
                try {
                    if (pieces[y2][x2].img == colors.blue) {
                        redDiag = 0;
                        blueDiag = 0;
                        var newx = x2;
                        for (var y3 = y2; y3 <rows ; y3++) {

                            if (newx >cols) {
                                break;
                            }
                            $("#alert").text("checking " + y3 + " " + newx);
                            if (pieces[y3][newx].img == colors.blue) {

                                blueDiag++;
                                //$("#alert").text("blueDiag" + blueDiag);

                                if (blueDiag >= 4) {

                                    return true;
                                }
                            } else {
                                blueDiag = 0;
                                break;
                            }
                            newx++;
                        }

                    }

                } catch (Exception) {

                }
            }
        }

        return false;

    }
    function diagFoundRedPos(y, x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

        for (var x2 = 0; x2 < cols; x2++) {
            var blueDiag = 0;
            var redDiag = 0;


            //for each row
            for (var y2 = 0; y2 < cols; y2++) {
                try {
                    if (pieces[y2][x2].img == colors.red) {
                        redDiag = 0;
                        blueDiag = 0;
                        var newx = x2;
                        for (var y3 = y2; y3 < rows ; y3++) {

                            if (newx < 0) {
                                break;
                            }
                            $("#alert").text("checking " + y3 + " " + newx);
                            if (pieces[y3][newx].img == colors.red) {

                                redDiag++;
                                //$("#alert").text("blueDiag" + blueDiag);

                                if (redDiag >= 4) {

                                    return true;
                                }
                            } else {
                                redDiag = 0;
                                break;
                            }
                            newx--;
                        }

                    }

                } catch (Exception) {

                }
            }
        }

        return false;

    }
    function colFoundRed(y,x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

            for (var x2 = 0; x2 < cols; x2++) {
                var blueDiag = 0;
                var redDiag = 0;

                for (var y2 = 0; y2 < cols; y2++) {
                    try {

                        if (pieces[y2][x2].img == colors.red) {
                            var newx = x2;
                            redDiag = 0;
                            blueDiag = 0;

                            for (var y3 = y2; y3 >= 0 ; y3--) {

                                if (newx > cols) {
                                    break;
                                }
                                $("#alert").text("checking " + y3 + " " + newx);

                                if (pieces[y3][newx].img == colors.red) {

                                    redDiag++;
                                    $("#alert").text("redDiag" + redDiag);
                                    if (redDiag >= 4) {

                                        return true;
                                    }
                                } else {
                                    redDiag = 0;
                                    break;
                                }
                                newx++;
                            }
                        }


                    } catch (Exception) {

                    }
                }
            }
            return false;
   }
        

    function diagFoundBlueNeg(y,x) {

        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

        //detect diagonal wins
        
        for (var x2 = cols; x2 >= 0; x2--) {
            var blueDiag = 0;
            var redDiag = 0;


            ////for each row
            for (var y2 = cols; y2 >= 0; y2--) {
                try {
                    if (pieces[y2][x2].img == colors.blue) {
                        redDiag = 0;
                        blueDiag = 0;
                        var newx = x2;
                        for (var y3 = y2; y3 < rows ; y3++) {

                            if (newx < cols) {
                                break;
                            }
                            $("#alert").text("checking " + y3 + " " + newx);
                            if (pieces[y3][newx].img == colors.blue) {

                                blueDiag++;
                                //$("#alert").text("blueDiag" + blueDiag);

                                if (blueDiag >= 4) {

                                    return true;
                                }
                                else {
                                    blueDiag = 0;
                                    break;
                                }

                                newx--;
                            }
                        }

                    }

                } catch (Exception) {
                }

            }
        }
        return false;
    }
    function diagFoundNeg(y,x) {
        var color = pieces[y][x].img + '';
        var redRow = 0;
        var redCol = 0;
        var blueRow = 0;
        var blueCol = 0;

        //red diag
        for (var x2 = cols; x2 >= 0; x2--) {
            var blueDiag = 0;
            var redDiag = 0;

        ////for each row
            for (var y2 = cols; y2 >= 0; y2++) {
                try {
                    if (pieces[y2][x2].img == colors.red) {
                        redDiag = 0;
                        blueDiag = 0;
                        var newx = x2;
                        for (var y3 = y2; y3 < rows ; y3++) {

                            if (newx < cols) {
                                break;
                            }
                            $("#alert").text("checking " + y3 + " " + newx);
                            if (pieces[y3][newx].img == colors.red) {

                                redDiag++;
                                //$("#alert").text("blueDiag" + blueDiag);

                                if (redDiag >= 4) {

                                    return true;
                                }
                             else {
                                redDiag = 0;
                                break;
                            }
                                newx--;
                           }
                        }

                    }

                } catch (Exception) {

                }
            }
        }
        return false;
    }
      
    $("td").click(function () {
        
        var id = this.id;
        var y = id.substr(0, 1);
        var x = id.substr(1, 1);
       // alert('you clicked on y:' + y + ' and x:' + x);
        if (IsValidMove(y,x)) {
    
            if (pieces[y][x].img == colors.white) {
            
                //it was white before so change color
                pieces[y][x].img = currentColor;
                
                $(this).children('img').attr('src', currentColor);//change color of first child (image)
            
                if (currentColor + "" == colors.blue + "") {
                    currentColor = colors.red;
                
                    $("#currentColor").css("background-color", "red");
                    $("#turn").text("Red's turn");

                } else {
                    currentColor = colors.blue;
                
                    $("#currentColor").css("background-color", "blue");
                    $("#turn").text("Blue's turn");
                }
            
            }
            //$("#alert").text('Checking to see if you won..');
            if (checkWin(y, x) == true) {
                //its already changed so it will be the opposite of the winner's color!!!!
                if (currentColor == colors.red) {
                    alert('Blue!!!  you won!!');
                } else {
                    alert("Red!!! You won!!");
                }
                //$("#alert").text('Congratulations!  You won!!');
                document.location.href = document.location.href;
            } else {
                //$("#alert").text('No one has won yet!')
            }
           
        }
    });

</script>